*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}
/*
header{
    display: flex;
}
nav{
    display: flex;
    position:fixed; /*deixa a barra de navegação fixa
    width: 100%;
    justify-content: flex-end;
    right: 0;

    padding: 30px;
    font-size: 2rem;
    color: white;
    background-color: #333;
}

.menu li{
    list-style: none;
    display: inline;
    padding: 20px;

    font-size: 1.5rem;
}
*/

main{
    margin: 0 auto;
    max-width: 1200px; 
}
/*==============================CARD=================================*/

section p{
    margin: 5px;
}

.cards{
    display: grid;
    
    /*divide a tela em várias colunas de 250px para adaptar os cards, tornando a página responsiva*/

}

.pintores {
    margin-top: 100px;
    font-size: 1.5em;
}

.pintores-img{
    width: 100%;
    height: 500px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(51, 51, 51, 0.059);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.265);
}
.card-foto > img {
    width: 100%;
  }
.nome{
    text-align: center;
}
.nome, .descricao{
    font-size: 1rem;
    padding:10px 20px;
}
.descricao li{
    list-style-position: inside;
}
.orcamento{
    padding: 10px 40px;
    text-decoration: none;
    background-color: #73d4e8;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}
.orcamento:hover{
    background-color: #189eb9;
    color: aliceblue;
    transition: all .10s linear;
}
/*==============================CARD FIM===============================*/


.paragrafo {
    padding: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
}

#img1{
    background-image: url("https://img.wallpapic-br.com/i2491-537-811/medium/terra-planeta-mundo-espaco-imagem-de-fundo.jpg");
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
   }


   .quem-somos{
    width: 70%;
    max-width: 800px;
    margin: 80px auto 0;
   }

   .quem-somos h2{
    
    color: #1d1d1d;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
   }

   .quem-somos p{
    font-size: 18px;
   }

   .fundadores-img{
    width: 850px;
   }

   .fundadores p{
    margin-top: 20px;
    font-size: 18px;
   }

   .equipe-img{
    width: 850px;
   }

   equipe p{
    font-size: 18px;
   }

@media (max-width: 600px) {

    .menu { 
         display:none;
         position: absolute;
         text-align: center;
         margin-top: 64px;
        }
        .menu li:hover {
         /*display: inline-block;*/
         display: inline-block;
         transition: 0.3s ease;
        }
        input[type=checkbox]:checked ~ .menu{
         display: block;
        }
        .hamburger {
         display: block;
         margin-right: 20px;
        }
        .sub-opcao li:hover {
         background-color: #4c9e9e;
        }
        #menu li{
         margin: 0;
         padding: 0;
         width: 100vw;
        }
   }