*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Assigning all the same properties to the body */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(69,207,222,1) 4%, rgba(136,236,255,1) 36%, rgba(92,188,218,1) 92%);
}

.aba-perfil{
  width: 100%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  text-decoration: none;
  color: #189eb9;
  gap: 5px;
  margin-left: 10px;
}

.aba-perfil img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.container{
  width: 35em;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 1em;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin-top: 90px;
  padding: 15px;
}
.container-dois{
 text-align: start;
}

.user-image{
  padding: 2em 0;
  background-color: white;
  display: flex;

}

.direita{
  text-align: justify;
  margin-top: 15px;
  margin-left: 30px;
}

.user-image img{
  width: 9em;
  height: 9em;
  border-radius: 50%;
  
  object-fit: cover;
  margin-left: 40px;
  
}


.user-avatar img{
  margin-top: 30px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  
  
}

.user-avatar {
 display: flex ;
align-items: center;
gap: 8px;
}
.user-avatar p{
  margin-top: 27px;
}

.rating{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}




.comentario input{
  width: 300px;
  border: solid 1px black;
  border-radius: 4px;
  margin-top: 15px;
  padding: 3px;
}

.name{
  font-size:0.8em;
  text-transform: uppercase;
  margin-bottom: 7px;
}



.links{
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}
 /* conflito com o header */
/* a{
  text-decoration: none;
  color: #565656;
  transition: all 0.3s;
  font-size: 2em;
  margin-right: 1.2em;
}

a:last-child{
  margin: 0;
} */

.insta:hover{
  color:rgb(255, 70, 101);
  transform: scale(2,2);
}


.linkedin:hover{
  color:rgba(4, 0, 253, 0.842);
  transform: scale(2,2);
}

.facebook:hover{
  color:rgb(4, 0, 255);
  transform: scale(2,2);
}

.details{
  text-align: justify;
  margin-bottom: 1.2em;
 margin-top: 10px;
  
}

.content{
  color: #565656;
  padding: 0 40px 20px;
  
}


.effect {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  background: rgb(26, 143, 156);
  color: white;
  font-size: 1.2em;
  padding: 4px 5px;
  border-radius: 5px;
  overflow: hidden;
  
}
 



.msg{
  width: 300px;
  display: flex;
  margin-top: 24px;
}

.teste{
  display: block;
  text-align: justify;
  margin-left: 110%;
 
}


@media (max-width: 600px) {


  .container { 
   
  
   text-align: center;
   margin: 90px 15px 0px;
   
  }
  

  .msg{
    width: 110px;
    display: flex;
    margin-top: 24px;
  }

  .comentario input{
    width: 85%;
  }

}