*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    background-color: #f9f9f9;
}
/*
header{
    display: flex;
}
nav{
    display: flex;
    position:fixed; /*deixa a barra de navegação fixa
    width: 100%;
    justify-content: flex-end;
    right: 0;

    padding: 30px;
    font-size: 2rem;
    color: white;
    background-color: #333;
}

.menu li{
    list-style: none;
    display: inline;
    padding: 20px;

    font-size: 1.5rem;
}
*/

.barra-pesquisa{
    display: block;
    width: 800px;
    height: 100px;
    margin: 140px auto 55px;
}



.form button {
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;

    --border-radius: 30px;
    --after-border-radius: 1px;
    /* width: var(--width-of-input); */
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
    border: solid 1px #189eb9;
  }

  .aba-perfil{
    width: 100%;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    text-decoration: none;
    color: #189eb9;
    gap: 5px;
    margin-left: 10px;
  }
  
  .aba-perfil img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  

  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }

#list{
    list-style: none;
  

display: flex;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
/*divide a tela em várias colunas de 250px para adaptar os cards, tornando a página responsiva*/
grid-gap: 25px;

padding-top: 30px;
max-width: 1600px;
margin: 30px;

}

.txt-categoria{
display: none;

}



main{
    margin: 0 auto;
    max-width: 1200px; 
}
/*==============================CARD=================================*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*divide a tela em várias colunas de 250px para adaptar os cards, tornando a página responsiva*/
    grid-gap: 25px;

    padding-top: 30px;
    max-width: 1600px;
    margin: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.059);
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.265);
    
}
.card-foto > img {
    max-height: auto;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.nome{
    text-align: center;
}
.nome{
    font-size: 1.2rem;
    padding:10px 20px;
}

 .descricao{
  font-size: 0.9rem;
  padding:10px 20px;
  
} 





/*------------------------------------------- qualificaçâo------------------------------------------- */


label span {
  padding : 5px;
  border-radius: 10px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  text-align: center;

}

label span::after {
  float: right;
  right: 10%;
  content: "+";
  
  
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  
}





.slide li {padding : 4px;
  
}


#touch {position: absolute; opacity: 0; height: 0px;}  
  

#touch:checked + .slide {height: auto;
  
} 

#touch1:checked + .slide {height: auto;
}

#touch2:checked + .slide {height: auto;
}

#touch3:checked + .slide {height: auto;
}

#touch4:checked + .slide {height: auto;
}

#touch5:checked + .slide {height: auto;
}

#touch6:checked + .slide {height: auto;
}

#touch7:checked + .slide {height: auto;
}

#touch8:checked + .slide {height: auto;
}


/*------------------------------------------- qualificaçâo------------------------------------------- */

.op{

background-color: black;
color: white;
}

.descricao li{
    list-style-position: inside;
    text-align: left;
}
.orcamento{
   padding : 5px;
   width: 166px;
    text-decoration: none;
    background-color: #73d4e8;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    text-align: center;
}
.orcamento:hover{
    background-color: #189eb9;
    color: aliceblue;
    transition: all .10s linear;
}
/*==============================CARD FIM===============================*/
  @media (max-width: 600px) {


    .barra-pesquisa{
      width: 100%;
  }
  .form{
      margin: 0 auto;
      width: 80%;
  }


    nav{
        height: 15%;
        padding: 0;
        justify-content: center;
    }
    .menu > li{
        margin-top: 20px;
        font-size: 1rem;
        padding: 6px;
    }
    .cards{
        grid-template-columns: 1fr;
        margin-top: 17%;
        padding: 0;
    }

   
   
    .card{
       
        width: 100%;
        padding-bottom: 30px;
        border-radius: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .card h3, p{
        text-align: left;
    }
    .card-foto > img{
        max-height: 270px;
        margin-top: 10px ;
        border-radius: 5px;
        object-fit: cover;

    }
    .nome, .descricao{
        font-size: 1rem;
        padding:8px 12px;
    }
    .nome{
        font-size: 1.5rem;
      }
    .descricao{
        margin: 0 20px;
        margin-bottom: 15px;
    }
    .descricao ul li{
        list-style-position: inside;
        margin-top: 6px;
    }
    .descricao ul{
        columns: 2;
    }

    

  }